<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nihao">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".net.AppTion"
        android:allowBackup="true"
        android:icon="@drawable/qq"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.SanTiaoActivity"></activity>
        <activity android:name=".ui.YiTiaoActivity" />
        <activity android:name=".ui.VpActivity" />
        <activity android:name=".ui.HuanYingYeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.LiJiZhuCeActivity" />
        <activity android:name=".ui.MiMaDengLuActivity" />
        <activity android:name=".ui.YinSiZhengCeActivity" />
        <activity android:name=".ui.YongHuXieYiActivity" />
        <activity android:name=".ui.DengLuActivity" />
        <activity android:name=".ui.MainActivity" />
    </application>

</manifest>